@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'
@import 'variables'
@import 'input'
@import 'botoes'
@import 'modal'
@import 'tabela'
@import 'card'
#app
    @include make-container()
    /* height: 100% */
    .conteudo
        @include make-row()
        min-height: 100vh
        .login
            @include make-col(6)
            @include make-col-offset(3)
            @include media-breakpoint-down(md)
                @include make-col(12) 
                @include make-col-offset(0)          
    .side-bar
        background-color: $color-primario
        color: white
        position: fixed
        top: 0
        bottom: 0
        overflow-y: auto
        width: 300px
        @include make-col(3)    
        @include media-breakpoint-down(md)
            @include make-col(12)
            overflow: hidden
            position: fixed
            top: 0
            height: 85px
            width: 100%
            .menu-lista
                &-item
                    display: inline-block
                    width: 25%
        .titulo-logo
            margin: 50px auto
            font-size: 1.5rem
            @include media-breakpoint-down(md)
                margin: 0px
        .menu
            margin-top: 75px
            @include media-breakpoint-down(md)
                margin-top: 0px
            &-lista
                list-style: none
                padding: 0
                text-align: left
                @include media-breakpoint-down(md)
                    text-align: center
                    margin-bottom: 0
                &-item
                    height: 60px
                    font-size: 1.2rem
                    font-weight: bold
                    padding-left: 20px
                    transition: .2s
                    line-height: 3
                    @include media-breakpoint-down(md)
                        padding-left: 0px
                    &:hover
                        background-color: $color-secundario
                    .link
                        color: white
                        text-decoration: none
                        .item-li
                            margin-left: 5px
                        @include media-breakpoint-down(md)
                            .item-li
                                display: none
                    &.ativo
                        background-color: $color-secundario
    .content-bar
        @include make-col(9)
        margin-left: 300px
        padding: 20px
        .grupo-botoes
            margin-top: 50px
        @include media-breakpoint-down(md)
            @include make-col(12)
            margin-top: 120px
            margin-left: 0px
        .titulo
                margin: 50px auto
    
        